process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withLabel: use_gpu {
        cpus = 1
        memory = '2 GB'
        time = '10m'

        // allow container GPU flag but DO NOT request hardware
        containerOptions = '--nv'
    }

    withName: 'QUIK_BARCODE_CALLING' {
        ext.args = ''
    }
}

params {
    // QUIK barcode calling parameters
    barcode_start = 9
    barcode_length = 36
    strategy = "4_7_mer_gpu_v1"
    distance_measure = "SEQUENCE_LEVENSHTEIN"
    rejection_threshold = 7
}
