process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withLabel: use_gpu {
        cpus = 1
        memory = '2 GB'
        time = '10m'

        // allow container GPU flag but DO NOT request hardware
        containerOptions = '--nv'
    }

    withName: 'QUIK_BARCODE_CALLING' {
        ext.args = ''
    }
}

params {
    // Read structure and QUIK parameters
    read_structure = "UMI_BC"  // UMI first (Visium-style)
    
    // STARsolo parameters (also used by QUIK)
    starsolo_cb_len = 36
    starsolo_umi_len = 10
    starsolo_cb_start = 11    // 1-based: barcode after 10bp UMI
    starsolo_umi_start = 1    // 1-based: UMI at start
    
    // QUIK-specific parameters
    strategy = "4_7_mer_gpu_v1"
    distance_measure = "SEQUENCE_LEVENSHTEIN"
    rejection_threshold = 7
}
