process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'FEATURECOUNTS_CUSTOM' {
        ext.feature_type = 'CDS'  // Use CDS instead of exon for SARS-CoV-2
        ext.attribute_type = 'gene_id'
        ext.strandedness = '0'  // Unstranded for test data
    }
}
