/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/panoramaseq -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 8,
        memory: '32.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = params.pipelines_testdata_base_path + 'panoramaseq/samplesheet/samplesheet_full.csv'
    
    // Required params for panoramaseq pipeline - full test
    star_genome_dir = params.pipelines_testdata_base_path + 'panoramaseq/reference/star_index_full'
    star_gtf = params.pipelines_testdata_base_path + 'panoramaseq/reference/genes_full.gtf'
    
    // Enable all features for full test
    mergecounts = true
    validate_h5ad = true
    skip_multiqc = false

    // Genome references
    genome = 'GRCh38'
}
